* {
    margin: 0;
    padding: 0;
}

#container {
    width: 60%;
    margin: 0 auto; 
}

#container fieldset {
    padding: 20px;
}

#next:hover {
    background-color: #000;
    color: #fff;
}

#pause:hover {
    background-color: #000;
    color: #fff;
}

#resume:hover {
    background-color: #000;
    color: #fff;
}